{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/upload" method="post" class="form-upload">
	{{ form.hidden_tag() }}
	{% for field in form if field.name not in ['csrf_token'] %}
		<p> {{ field.label() if field.name is not in ['upload']}} 
		{% if field.errors %}
			{{ field(class="invalid") }}
			<span class="invalid-feedback">
				{% for e in field.errors %}
				{{ e }}
				{% endfor %}
			</span>
		{% else %}
			{{ field() }}
		{% endif %}
	{% endfor %}
		
</form>
{% endblock %}