{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/upload" method="post" class="form-upload">
	{{ form.hidden_tag() }}
	{% for field in form if field.name not in ['csrf_token'] %}
		<p class="form-control-lg">
			{{ field.label() if field.name is not in ['upload']}} 
		{% if field.errors %}
			{{ field(class="invalid") }}
			<span class="invalid-feedback">
				{% for e in field.errors %}
				{{ e }}
				{% endfor %}
			</span>
		{% else %}
			{{ field() }}
		{% endif %}
	{% endfor %}
		
</form>
<h1 align="center">
    <form action="/" method="get">
        <div class="input">
            <input class="btn btn-outline-secondary btn-lg btn-block"
                    type="submit" style="width:100%" value="MAIN PAGE">
    </div>
</form>
<h1>
{% endblock %}